html, body{width: 100%; background-color: #151515; position: relative; }
body{overflow-x: hidden; }
#body{width: 100%; height: 100%; position: relative; z-index: 500; }
#body *{color: #fff; box-sizing: border-box; line-height: 1.5; word-break: keep-all; }

.hideSpan{width: 0; height: 0; display: inline-block; overflow: hidden; }
#body header{margin: 0 auto 80px; }
#body header > div{padding-top: 12px; margin-bottom: 60px; }
#body header > div > h1{margin: 0 auto 40px; }
#body header > div > h1 > a{color: #fff; display: block; text-align: center; font-size: 60px; }
#body header > div > ul{text-align: center; }
#body header > div > ul > li{display: inline-block; }
#body header > div > ul > li:nth-of-type(2){margin: 0 24px;}
#body header > div > ul > li > a{display: block; color: #595959; transition: all ease .6s; font-size: 21px; }
#body header > div > ul > li.on > a{color: #fff; font-weight: bold; }
#body header > div > ul > li > a:hover{text-shadow: 0 0 3px rgba(255,255,255,.5); color: #fff; transform: scale(1.08); }
#body header > aside{padding: 0 8px; }
#body header > aside > h2{text-align: center; }
#body header > aside > h2 > img{min-width: 234px; width: 50%; }
#body header > aside > h6{color: #acacac; text-align: center; font-size: 12px; word-break: keep-all; }

.alphabetBg{}
.alphabetBg > span{font-size: 200px; position: absolute; opacity: .03; z-index: 10; color: #fff; }
.bg1{top: 15%; left: 3%; }
.bg2{bottom: 23%; left: 28%; }
.bg3{top: 28%; left: 40%; }
.bg4{bottom: 10%; left: 60%; }
.bg5{top: 4%; right: -100px; }


/* 푸터 */
#body footer{background-color: #2b2b2b; width: 100%; padding: 40px 0; }
#body footer > div{max-width: 1280px; margin: 0 auto; text-align: center; }
#body footer > div > h4{}
#body footer > div > h4 > a{font-size: 36px; color: #fff; }
#body footer > div > ul{text-align: center; margin: 20px auto; }
#body footer > div > ul > li{display: inline-block; margin: 0 18px; }
#body footer > div > ul > li > a{width: 40px; height: 40px; background-color: #fff; display: block; }
#body footer > div > ul > li > a > img{}
#body footer > div > p{font-size: 14px; color: #ccc; }
#body footer > div > span{font-size: 12px; color: #595959; }

@media all and (min-width: 360px){
    #body header{margin: 0 auto 120px; }
    #body header > div{margin-bottom: 80px; }
    #body header > div > ul > li:nth-of-type(2){margin: 0 36px; }
    #body header > aside{padding: 0 12px; }
    #body header > aside > h2 > img{width: 60%; }
    
    .alphabetBg > span{font-size: 400px; }

    footer{}
    footer > div{}
}

@media all and (min-width: 768px){
    #body header{max-width: 768px; margin: 0 auto 180px; }
    #body header > div{padding-top: 16px; margin-bottom: 120px;}
    #body header > div > h1{margin: 0 auto 60px; }
    #body header > div > ul > li:nth-of-type(2){margin: 0 120px; }
    #body header > aside{padding: 0 32px; }
    #body header > aside > h2 > img{width: auto; }
    #body header > aside > h6{font-size: 16px; }
    
    .alphabetBg > span{font-size: 800px; }
}

@media all and (min-width: 1280px){
    #body header{max-width: 1280px; margin: 0 auto 220px; }
    #body header > div{padding-top: 20px; margin-bottom: 160px; }
    #body header > div > h1{margin: 0 auto 80px; }
    #body header > div > ul > li:nth-of-type(2){margin: 0 140px; }
    #body header > aside{padding: 0; }
    
    .alphabetBg > span{font-size: 1000px; }
}